@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html {
    background-color: #5D78FD
}


.topo {
    background-color: #6EC1C4;
}

#titulo {
    font-family: 'Great Vibes', cursive;
    flex-wrap: nowrap;
    min-width: 400px;
    text-align: center;
    margin: 20px 0;
    font-size: 70px;
}

.title.is-1 {
    font-size: 4.4em;
}

.bem-vindo {
    text-align: center;
}

#foto-lucas {
    width: 180px;
    border-radius: 100%;
}

main p {
    text-align: justify;
}

.habilidade {
    justify-content: center;
    text-align: center;
}

.habilidade div {
    height: 7em;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
    color: #25d366;
    border-radius: 10%;
    margin: 5px;
}

.javascript {
    background-image: url(/Imagens/js.jpg);
}

.html {
    background-image: url(/Imagens/html.png);
}

.css {
    background-image: url(/Imagens/css.jpg);
}

.react {
    background-image: url(/Imagens/react.png);
}

.node {
    background-image: url(/Imagens/node.jpg);
}

.express {
    background-image: url(/Imagens/express.png);
}

.sql {
    background-image: url(/Imagens/sql.png);
}

.nosql {
    background-image: url(/Imagens/nosql.jpg);
}

.git {
    background-image: url(/Imagens/git.png);
}

.python {
    background-image: url(/Imagens/python.jpg);
}

.orm {
    background-image: url(/imagens/orm.jpg);
}

.algoritmos {
    background-image: url(/Imagens/algoritmo.png);
}

.projeto {
    font-size: 25px;
    color: black;
}

.contato {
    border-radius: 100%;
    width: 70px;
}

.footer {
    background-color: #6EC1C4;
}

.container-footer {
    width: 1080px;
    background-color: #6EC1C4;
}

.float {
    /* Necessário para o botão do whatsapp */
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    /* Necessário para o botão do whatsapp */
    margin-top: 16px;
}