@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.contato {
    width: 50px;
}

#lucas {
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    text-align: center;
}

#lucas:hover {
    color: #FF0B0B;
    font-style: italic;
}

#fotolucas {
    margin: auto;
}

#indice {
    margin-left: -15px;
}

#indice a {
    font-size: 25px;
    font-weight: bolder;
    padding: 0 25px;
    margin: 15px 2px;
}

#indice a:hover {
    text-decoration: underline;
    font-size: 30px;
    font-weight: bolder;
    margin: 10px 2px;
}

.menu-lista {
    width: 200px;
}

#img-contato {
    display: flex;
}