@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.menu-principal {
    text-align: center;
}

#lucas {
    font-family: 'Great Vibes', cursive;
    font-size: 120px;
    text-align: center;
}

#lucas:hover {
    color: rgb(26, 35, 126);
    font-weight: bolder;
}

#fotolucas {
    margin: auto;
}

#indice a {
    font-size: 25px;
    font-weight: bolder;
    padding: 0 25px;
    margin: 15px 2px;
}

#indice a:hover {
    text-decoration: underline;
    font-size: 30px;
    font-weight: bolder;
    margin: 10px 2px;
}

.menu-lista {
    width: 200px;
}

p {
    text-align: justify;
}

#trybe {
    text-decoration: none;
    color: inherit;
}

#img-contato {
    display: flex;
}

#mapa {
    width: 450px;;
    height: 300px;
    margin-left: -5px;
}

#listahabilidade li {
    font-size: 30px;
}

#listaprojetos li {
    font-size: 30px;
}

.projeto {
    color: rgb(26, 35, 126);
}

.contato {
    border-radius: 100%;
    width: 70px;
    margin: 2px;
}