h1 {
  font-family: monospace;
  font-size: 35px;
}

#text-input {
  height: 20px;
  width: 50%;
}

#meme-image-container {
  margin: 10px 0;
  border: 1px solid black; /* Requisito 3 */
  background-color: white; /* Requisito 3 */
}

/* Tamanho da caixa e da imagem devem ser os mesmos */
#meme-image-container , #meme-image {
  width: 500px;
  height: 500px;
}

#meme-text {
  position: absolute; /* Requisito 2 */
  z-index: 2; /* Requisito 2 */
  text-shadow: 5px 5px 5px black; /* Requisito 4 */
  font-size: 30px; /* Requisito 4 */
  color: white; /* Requisito 4 */
  width: 480px;
}

#meme-insert {
  margin: 10px 0;
}

#meme-image {
  position: absolute; /* Requisito 2 */
  z-index: 1; /* Requisito 2 */
}

#label-arquivo {
  font-size: 20px;
}

#fire { /* Requisito 6 */
  background-color: red;
}

#water { /* Requisito 6 */
  background-color: blue;
}

#earth { /* Requisito 6 */
  background-color: green;
}

#fire , #water , #earth {
  width: 80px;
  height: 40px;
  margin: 10px 2px;
  border-radius: 40%;
}

#meme-1 , #meme-2 , #meme-3 , #meme-4 {
  margin: 10px 1px;
  width: 100px;
  height: 100px;
}

footer {
  font-size: 20px;
}

#trybe {
  background-color: #0fa36b;
  color: black;
}

@media screen and (max-width: 450px) { /* Conteúdo para celular */

  h1 {
    font-size: 32px;
  }

  #text-input {
    height: 15px;
    width: 200px;
  }

  #meme-text {
    font-size: 20px;
    width: 280px;
    margin: 5px 1px;
  }

  #meme-image-container,
  #meme-image {
    width: 300px;
    height: 300px;
  }

  #meme-1,
  #meme-2,
  #meme-3,
  #meme-4 {
    width: 70px;
    height: 70px;
  }

  #meme-image-container {
    margin: 10px 0;
  }
}