 #title {
	 font-family: monospace;
	 font-size: 35px
 }

.color { /* Requisito 2*/
    border: 1px solid black; 
    display: inline-block;
    margin: 0px;
    padding: 30px;
}

#preto {
    background-color: black; /* Requisito 3 */
}

#clear-board {
    font-size: 25px;
    color: black;
	min-width: 300px;
	height: 50px;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	background-image: linear-gradient(315deg, white 0%, grey 100%);
	background-size: 200% 100%;
	background-position: left;
	background-repeat: no-repeat;
	transition: 1000ms;
}

#clear-board:before {
	color: green;
	font-size: 25px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 40px;
	background-color: yellow;
	background-image: linear-gradient(315deg, yellow 10%, #274060 74%);
	transition: 800ms;
}

#clear-board:hover {
	background-position: right;
}

#clear-board:hover:before {
	color: rgba(255,255,255,0.8);
}

#clear-board:focus {
	outline: none;
}

hr {
	border: 2px solid #274060;
	width: 600px;
	margin-inline-start: 0;
}

#tamanho-quadro {
	font-size: 20px;
	height: 80px;
	margin: 10px 0;
	align-items: baseline;
}

#board-size {
	color: black;
	width: 300px;
	height: 20px;
	background-color: lightskyblue;
	margin-left: 5px;
}

#generate-board {
	font-size: 25px;
    color: #0fa36b;
	cursor: pointer;
	background-color: black;
	margin-left: 15px;
	height: 40px;
}

#generate-board:hover {
	background-color: #0fa36b;
	color: black;
	border-radius: 50%;
	transition: 1000ms;
}


#pixel-board {
	width: 600px;
}

.pixel { /*Requisito 5*/
    background-color: white;
    border: 1px solid black;
    height: 40px;
    width: 40px;
	padding: 10px;
    display: inline-block;
	margin-top: -4px;
	/*border-radius: 100%; */
  }

footer {
	font-size: 20px;
}

#trybe {
	  background-color: #0fa36b;
	  color: black;
  }